<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    {% if description %}
    <meta name="description" content="{{ description }}">
    {% endif %}

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}">
    {% endif %}

    <link rel="stylesheet" href="{{ base_url }}/assets/styles.css">
</head>
<body>
    <header class="bg-light py-3 mb-4">
        <div class="container">
            <h1 class="mb-0">{{ title }}</h1>
        </div>
    </header>

    <main class="container mb-5">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light py-3">
        <div class="container">
            <p class="mb-0">RocketDB 0.1, last update: {{ date }}</p>
        </div>
    </footer>
</body>
</html>
