{% extends "base.html" %}

{% block content %}

<div class="bg-light border py-5 mb-3 rounded">
    <div class="container text-center">
        <h1 class="display-4 fw-bold">Welcome to RocketDB</h1>
        <p class="lead mb-4">Explore rockets and launches across history and space agencies</p>
        <a href="{{ base_url }}/rockets.html" class="btn btn-primary btn-lg">Browse Rockets</a>
        <a href="{{ base_url }}/launches.html" class="btn btn-warning btn-lg">Browse Launches</a>
    </div>
</div>

<div class="container">
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">

                <div class="card-header fw-bold fs-5">
                    Statistics
                </div>

                <div class="card-body p-4 d-flex flex-column justify-content-center">
                    Fake numbers for now
                    <div class="row row-cols-2 g-4">
                        
                        <div class="col">
                            <div class="p-3 rounded-3 bg-light text-center shadow">
                                <div class="fs-3 fw-bolder text-primary">67</div>
                                <div class="text-muted small text-uppercase">Rockets</div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 rounded-3 bg-light text-center shadow">
                                <div class="fs-3 fw-bolder text-warning">871</div>
                                <div class="text-muted small text-uppercase">Launches</div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 rounded-3 bg-light text-center shadow">
                                <div class="fs-3 fw-bolder text-success">3212</div>
                                <div class="text-muted small text-uppercase">Variants</div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="p-3 rounded-3 bg-light text-center shadow">
                                <div class="fs-3 fw-bolder text-danger ">100</div>
                                <div class="text-muted small text-uppercase">Other</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header fw-bold fs-5">About</div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="fw-bold">RocketDB</span> is an open-source database aiming to collect comprehensive information about
                        rockets and their launches. You can help the project in the following ways:
                    </p>
                    <ul class="card-text">
                        <li>Add new data to the database.</li>
                        <li>Update information on existing rockets and launches.</li>
                        <li>Report errors or inconsistencies in the data.</li>
                        <li>Share the project with others interested in rockets.</li>
                        <li>Contribute to the project code or documentation on GitHub.</li>
                    </ul>
                    <a href="{{ base_url }}/about.html" class="btn btn-outline-primary">Contribute</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}