{% extends "base.html" %}

{% block content %}
<a href="index.html">Back</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>First Flight</th>
        </tr>
    </thead>
    <tbody>
        {% for rocket in rockets %}
        <tr>
            <td>{{ rocket.name }}</td>
            <td>{{ rocket.manufacturer }}</td>
            <td>{{ rocket.first_flight }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</ul>
{% endblock %}