{% extends "base.html" %}

{% block content %}

<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb bg-light rounded p-3 mb-1">
        <li class="breadcrumb-item"><a href="{{ base_url }}/">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ base_url }}/rockets.html">Rockets</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ rocket.name }}</li>
    </ol>
</nav>


<div class="card mb-3 p-3">
    <div class="row g-3 align-items-start">
        <div class="col-12 col-md-4">
            <figure class="figure w-100">
                {% if rocket.image_url %}
                <img src="{{ rocket.image_url }}" class="figure-img img-fluid rounded" alt="{{ rocket.name }}">
                {% else %}
                <div class="bg-secondary text-white d-flex align-items-center justify-content-center figure-img w-100"
                    style="height:400px; border-radius:0.25rem;">
                    No Image
                </div>
                {% endif %}
                <figcaption class="figure-caption text-center mt-2">{{ rocket.name }}</figcaption>
            </figure>

        </div>

        <div class="col-12 col-md-8">

            <div class="card mb-5">
                <div class="card-header py-2 fs-5 fw-bold">
                    Rocket Informations
                </div>
                <div class="card-body p-2">
                    <ul class="list-group list-group-flush mb-0">
                        <li class="list-group-item py-1"><strong>Agency:</strong> {{ rocket.agency }}</li>
                        <li class="list-group-item py-1"><strong>First Flight:</strong> {{ rocket.first_flight }}</li>
                    </ul>
                </div>
            </div>

{% if rocket.variants %}
<h3>Variants</h3>
<div class="row g-3">
    {% for variant in rocket.variants %}
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header py-2 fw-bold">
                <a href="{{ base_url }}/rocket/{{ rocket.slug }}/{{ variant.slug }}.html" class="text-decoration-none">
                    {{ variant.name }}
                </a>
            </div>
            <div class="card-body p-2">
                <ul class="list-group list-group-flush mb-0">
                    {% if variant.agency %}
                    <li class="list-group-item py-1"><strong>Agency:</strong> {{ variant.agency }}</li>
                    {% endif %}
                    <li class="list-group-item py-1"><strong>First Flight:</strong> {{ variant.first_flight }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}


        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header py-2 fs-4 fw-bold">
        Launches
    </div>
    <div class="card-body p-2">
        <ul class="list-group list-group-flush mb-0">
            <li class="list-group-item d-flex justify-content-between align-items-center py-1">
                <div>
                    <span class="me-3">2021-03-04</span>
                    <strong>Starlink 17</strong><br>
                    <small>Variant: Falcon 9 Block 5</small>
                </div>
                <span class="badge bg-success text-white py-2 px-2">Success</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center py-1">
                <div>
                    <span class="me-3">2021-01-24</span>
                    <strong>Transporter-1</strong><br>
                    <small>Variant: Falcon 9 Block 5</small>
                </div>
                <span class="badge bg-success text-white py-2 px-2">Success</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center py-1">
                <div>
                    <span class="me-3">2022-11-16</span>
                    <strong>Artemis I</strong><br>
                    <small>Variant: SLS Block 1</small>
                </div>
                <span class="badge bg-danger text-white py-2 px-2">Failure</span>
            </li>
        </ul>
    </div>
</div>






{% endblock %}